/*  ===========The CSS CODE=========== */
*{
	font-family: fbahnschrift, sans-serif;
	margin: 0;
	text-decoration: none;
}
/*  ===========Header=========== */
header{
	width: 100%;
	overflow: hidden;
}
.Banner{
	width: 100%;
	background-color: #D2F2CC;
}
.Banner img{
	display: block;
	margin: 0 auto;
}
nav{
	display: block;
	list-style: none;
	margin: 10px auto;
	width: 90%;
}
nav a{
	text-align: center;
}
nav li{
	border: #074117 solid 1px;
	background-color: #1F7921;
	border-radius: 5px;
	color: white;
	padding: 5px;
}

nav .Active{
	background-color: #24a831;
}

nav li:hover{
	background-color:  #24a831;
}


/*  ===========Content=========== */
.main{
	list-style: none;
	width: 95%;
	margin: 0 auto;
}
section{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	padding: 0 0 10px;
}
section li , .Herhaal{
	border: #1F7921 solid 1px;
	background-color: #3FD64E;
	border-radius: 5px;
	margin: 0 0 3px;
}

/* ===Section 1=== 
Herhaalmedicatie informatie*/
.Herhaalinformatie button{
	padding: 15px;
	border: #074117 solid 1px;
	border-radius: 5px;
	background-color: #1F7921;
	color: white;
	font-weight: 10px; 
	cursor: pointer; 
}
/* ===Section 2=== 
Openings tijd & adres*/

/*  ===========RESPONSIVE=========== */

@media only screen and (min-width: 1000px){

	/*  ===========Header=========== */
	nav{
		display: table;
		width: auto;
		width: fit-content;
	}
	nav a{
		float: left;
		font-size: 20px;
		padding: 0 10px;
	}
	nav li{
		padding: 5px 10px;
		min-width: 150px;
	}

/*  ===========Content=========== */

    .main{
    	margin-top: 15px;
    }

    section{
    	padding: 0 0 10px;
	}

	section li{
		float: left;
		margin: 0 0 0 10px;
	}

	/* ===Section 1=== 
	Herhaal medicatie*/

	.Herhaal{
		margin: 0 0 0 10px;
		width: calc(100% - 12px);
	}
	.Herhaalinformatie{
		padding: 5px 0px 15px;
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}

	/* ===Section 2===  
	Openings tijd & adres**/

	.Section2 li{
		min-height: 200px;
		font-weight: lighter;
		width: calc(50% - 12px);
		margin: 0 0 0 10px;
	}
}